/*
* === X-effect Calendar ===
*/

.react-calendar {
	width: 50%;
	max-width: 100%;
	color: black;
	background: white;
	border: 1px solid #a0a096;
	font-family: Arial, Helvetica, sans-serif;
	line-height: 1.125em;
}
.react-calendar--doubleView {
	width: 700px;
}
.react-calendar--doubleView .react-calendar__viewContainer {
	display: flex;
	margin: -0.5em;
}
.react-calendar--doubleView .react-calendar__viewContainer > * {
	width: 50%;
	margin: 0.5em;
}
.react-calendar,
.react-calendar *,
.react-calendar *:before,
.react-calendar *:after {
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}
.react-calendar button {
	margin: 0;
	border: 0;
	outline: none;
}
.react-calendar button:enabled:hover {
	cursor: pointer;
}
.react-calendar__navigation {
	height: 44px;
	margin-bottom: 1em;
}
.react-calendar__navigation button {
	min-width: 44px;
	background: none;
}
.react-calendar__navigation button:enabled:hover,
.react-calendar__navigation button:enabled:focus {
	background-color: #e6e6e6;
}
.react-calendar__navigation button[disabled] {
	background-color: #f0f0f0;
}
.react-calendar__month-view__weekdays {
	text-align: center;
	text-transform: uppercase;
	font-weight: bold;
	font-size: 0.75em;
}
.react-calendar__month-view__weekdays__weekday {
	padding: 0.5em;
}
.react-calendar__month-view__weekNumbers {
	font-weight: bold;
}
.react-calendar__month-view__weekNumbers .react-calendar__tile {
	display: flex;
	align-items: center;
	justify-content: center;
	font-size: 0.75em;
	padding: calc(0.75em / 0.75) calc(0.5em / 0.75);
}
.react-calendar__month-view__days__day--weekend {
	color: black;
}
.react-calendar__month-view__days__day--neighboringMonth {
	color: #757575;
}
.react-calendar__year-view .react-calendar__tile,
.react-calendar__decade-view .react-calendar__tile,
.react-calendar__century-view .react-calendar__tile {
	padding: 2em 0.5em;
}
.react-calendar__tile {
	max-width: 100%;
	text-align: center;
	padding: 0.75em 0.5em;
	background: none;
}
.react-calendar__tile:disabled {
	background-color: #f0f0f0;
}
.react-calendar__tile:enabled:hover,
.react-calendar__tile:enabled:focus {
	background-color: #e6e6e6;
}
.react-calendar__tile--now {
	background: #ffff76;
}
.react-calendar__tile--now:enabled:hover,
.react-calendar__tile--now:enabled:focus {
	background: #ffffa9;
}
.react-calendar__tile--hasActive {
	background: #76baff;
}
.react-calendar__tile--hasActive:enabled:hover,
.react-calendar__tile--hasActive:enabled:focus {
	background: #a9d4ff;
}
.react-calendar__tile--active {
	background: #006edc;
	color: white;
}
.react-calendar__tile--active:enabled:hover,
.react-calendar__tile--active:enabled:focus {
	background: #1087ff;
}
.react-calendar--selectRange .react-calendar__tile--hover {
	background-color: #e6e6e6;
}

.cross-off-day {
	background-color: aqua;
}

/*
* ======
*/

#root {
	background-color: aquamarine;
	min-height: 100vh;
}

.row {
	margin-right: 0px;
}

/*
* === Navigation Bar ===
*/

.nav {
	padding-left: 15px;
	padding-right: 15px;
}

.navbar-brand {
	color: white;
}

/*
* === Login/Registration ===
*/

.my-page-container {
	padding-top: 15px;
	padding-bottom: 15px;
	margin-left:100px;
	margin-right: 100px;
}

.my-medium-button {
	width: 80px;
	margin-top: 10px;
}

a.register-link {
	color: white;
	text-decoration: none;
}

.error-text {
	color: red;
}

.form-group {
	margin-bottom: 3px;
}

/*
* === Detail Header ===
*/

.detail-header {
	height: 40px;
	background-color: grey;
}

.detail-header-button {
	width: 40px;
	margin-right: 5px;
}

.detail-header-filter select {
	color: white;
	background-color: #292b2c;
	margin-right: 5px;
}

/*
* === Date List ===
*/

.date-list-page {
	margin-left: 100px;
	padding-right: 10px;
	margin-top: 40px;
}

.date-list-item {
	margin-bottom: 10px;
}

.divider1 {
	border-right: 2px solid #292b2c;
	min-height: 100vh;
	height: 100%;
}

/*
* === Journal ===
*/

.todo-item, .book-summary-item, .quote-item, .word-item {
	padding-left: 15px;
}

.book-summary-item, .quote-item, .word-item {
	padding-top: 10px;
	padding-bottom: 10px;
	margin-right: 15px;
	margin-bottom: 15px;
}

.todos-list {
	background-color:thistle;
	padding-top: 10px;
	margin-right: 15px;
	margin-bottom: 15px;
}

.book-summary-item {
	background-color: blanchedalmond;
}

.book-title {
	margin-bottom: 15px;
}

.quote-item {
	background-color: burlywood;
}

.quote-content {
	margin-left: 15px;
}

.quote-source {
	margin-left: 60px;
	margin-bottom: 15px;
}

.word-item {
	background-color: coral;
}

.divider2 {
	margin-left: -2px;
	border-left: 2px solid #292b2c;
	min-height: 100vh;
	height: 100%;
	padding-right: 0px;
}