/*
* === X-effect Calendar ===
*/

.react-calendar {
	width: 50%;
	max-width: 100%;
	color: black;
	background: white;
	border: 1px solid #a0a096;
	font-family: Arial, Helvetica, sans-serif;
	line-height: 1.125em;
}
.react-calendar--doubleView {
	width: 700px;
}
.react-calendar--doubleView .react-calendar__viewContainer {
	display: flex;
	margin: -0.5em;
}
.react-calendar--doubleView .react-calendar__viewContainer > * {
	width: 50%;
	margin: 0.5em;
}
.react-calendar,
.react-calendar *,
.react-calendar *:before,
.react-calendar *:after {
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}
.react-calendar button {
	margin: 0;
	border: 0;
	outline: none;
}
.react-calendar button:enabled:hover {
	cursor: pointer;
}
.react-calendar__navigation {
	height: 44px;
	margin-bottom: 1em;
}
.react-calendar__navigation button {
	min-width: 44px;
	background: none;
}
.react-calendar__navigation button:enabled:hover,
.react-calendar__navigation button:enabled:focus {
	background-color: #e6e6e6;
}
.react-calendar__navigation button[disabled] {
	background-color: #f0f0f0;
}
.react-calendar__month-view__weekdays {
	text-align: center;
	text-transform: uppercase;
	font-weight: bold;
	font-size: 0.75em;
}
.react-calendar__month-view__weekdays__weekday {
	padding: 0.5em;
}
.react-calendar__month-view__weekNumbers {
	font-weight: bold;
}
.react-calendar__month-view__weekNumbers .react-calendar__tile {
	display: flex;
	align-items: center;
	justify-content: center;
	font-size: 0.75em;
	padding: calc(0.75em / 0.75) calc(0.5em / 0.75);
}
.react-calendar__month-view__days__day--weekend {
	color: black;
}
.react-calendar__month-view__days__day--neighboringMonth {
	color: #757575;
}
.react-calendar__year-view .react-calendar__tile,
.react-calendar__decade-view .react-calendar__tile,
.react-calendar__century-view .react-calendar__tile {
	padding: 2em 0.5em;
}
.react-calendar__tile {
	max-width: 100%;
	text-align: center;
	padding: 0.75em 0.5em;
	background: none;
}
.react-calendar__tile:disabled {
	background-color: #f0f0f0;
}
.react-calendar__tile:enabled:hover,
.react-calendar__tile:enabled:focus {
	background-color: #e6e6e6;
}
.react-calendar__tile--now {
	background: #ffff76;
}
.react-calendar__tile--now:enabled:hover,
.react-calendar__tile--now:enabled:focus {
	background: #ffffa9;
}
.react-calendar__tile--hasActive {
	background: #76baff;
}
.react-calendar__tile--hasActive:enabled:hover,
.react-calendar__tile--hasActive:enabled:focus {
	background: #a9d4ff;
}
.react-calendar__tile--active {
	background: #006edc;
	color: white;
}
.react-calendar__tile--active:enabled:hover,
.react-calendar__tile--active:enabled:focus {
	background: #1087ff;
}
.react-calendar--selectRange .react-calendar__tile--hover {
	background-color: #e6e6e6;
}

.cross-off-day {
	background-color: aqua;
}

/*
* ======
*/

#root {
	position: relative;
	background-color: aquamarine;
	min-height: 100vh;
}

.flex-container {
	display: flex;
}

/*
* === Navigation Bar ===
*/

.nav {
	position: sticky;
	top: 0;
	padding-left: 15px;
	padding-right: 15px;
}

.navbar-brand {
	color: white;
}

.nav-link {
	width: 100px;
	text-align: center;
}

/*
* === Login/Registration ===
*/

.my-page-container {
	padding-top: 25px;
	padding-bottom: 125px;
	margin-left: 100px;
	margin-right: 100px;
}

.my-medium-button {
	width: 80px;
	margin-top: 10px;
}

a.register-link {
	color: white;
	text-decoration: none;
}

.error-text {
	color: red;
}

.form-group {
	margin-bottom: 3px;
}

.alert {
	margin-top: 15px;
	font-size: 95%;
}

/*
* === Detail Header ===
*/

.detail-section {
	margin-left: 20%;
	flex-grow: 1;
}

.detail-header {
	position: sticky;
	top: 40px;
	height: 45px;
	background-color: grey;
}

.detail-header-button-group {
	margin-left: 15px;
	align-self: center;
}

.detail-header-button {
	width: 40px;
	margin-right: 5px;
}

.detail-header-filter {
	margin-left: auto!important;
	margin-right: 15px;
	margin-top: 5px;
	align-self: center;
}

.detail-header-filter select {
	color: white;
	background-color: #292b2c;
	margin-right: 5px;
	border-radius: 0.25rem;
}

/*
* === Date List ===
*/

.date-list-page {
	position: fixed;
	top: 40px;

	padding-left: 100px;
	padding-top: 5px;
	padding-bottom: 25px;

	border-right: 2px solid #292b2c;
	min-height: 100vh;
	height: 100%;
	width: 20%;
}

.date-search-box {
	margin-bottom: 5px;
	width: 90%;
	color: white;
	background-color: darkgrey; 
	border-radius: 0.25rem;
}

.date-list {
	height: calc(100% - 50px);
	overflow: auto;
}

.date-list-item {
	margin-bottom: 10px;
}

/*
* === Journal ===
*/

.journal-page {
	padding-left: 15px;
	padding-bottom: 125px;
}

.todo-item, .book-summary-item, .quote-item, .word-item {
	padding-left: 15px;
}

.book-summary-item, .quote-item, .word-item {
	padding-top: 10px;
	padding-bottom: 10px;
	margin-right: 15px;
	margin-bottom: 15px;
	border-radius: .5rem;
}

.todos-list {
	background-color:thistle;
	padding-top: 10px;
	margin-right: 15px;
	margin-bottom: 15px;
	border-radius: .5rem;
}

.book-summary-item, .add-book-summary-item {
	background-color: khaki;
}

.book-summary-header {
	margin-bottom: 15px;

}

.book-title {
	margin-right: 30px;
	font-size: 110%;
}

.quote-item, .add-quote-item {
	background-color: burlywood;
}

.quote-content {
	margin-left: 15px;
	text-size-adjust: 1.25rem;
	font-size: 110%;
}

.quote-source {
	margin-left: 60px;
	margin-bottom: 15px;
}

.word-item, .add-word-item {
	background-color: coral;
}

/*
* === Add and Edit Journal ===
*/

.add-form-page {
	padding-left: 15px;
	padding-bottom: 125px;
}

.add-form-header {
	margin-left: -15px;
}

.journal-save-button, .journal-cancel-button {
	width: 70px;
	margin-right: 5px;
}

.journal-form-control {
	height: calc(1.5em + .75rem + 2px);
	padding: .375rem .75rem;
	font-size: 1rem;
	font-weight: 400;
	line-height: 1.5;
	color: #495057;
	background-color: #fff;
	background-clip: padding-box;
	border: 1px solid #ced4da;
	border-radius: .25rem;
	transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}

.date-section, .todos-section, .reflections-section, .book-summaries-section, .quotes-section, .words-section {
	margin-top: 15px;
}

.add-todo-item, .add-book-summary-item, .add-quote-item, .add-word-item {
	flex-basis:85%;
	padding-left: 1%;
	margin-right: 1%;
	margin-bottom: 10px;
	border-radius: .5rem;
}

.add-book-summary-item, .add-quote-item, .add-word-item {
	padding-top: 10px;
	padding-bottom: 10px;
}

.date-label {
	width: 70px;
}

.checkbox-input {
	width: 3%;
	align-self: center;
}

.task-input {
	width: 92%;
}

.reflection-input {
	width: 80%;
	height: 100px;
}

.book-title-input {
	width: 45%;
	margin-right: 5%;
}

.book-chapter-input {
	width: 45%;
}

.book-summary-input {
	width: 95%;
	height: 100px;
	margin-top: 15px;
}

.quote-content-input, .quote-comment-input {
	width: 95%;
	height: 50px;
}

.quote-source-input {
	width: 95%;
	margin-bottom: 5px;
}

.word-input {
	width: 20%;
}

.definition-input {
	margin-left: 2%;
	width: 73%;
}

.first-add-button {
	width: 150px;
}

.add-form-button-group {
	align-self: center;
	margin-bottom: 10px;
}

/*
* === Calendar Page ===
*/

.calendar-page {
	margin-left: 100px;
	margin-right: 100px;
	padding-top: 15px;
	padding-bottom: 125px;
}

/*
* === About Page ===
*/

.about-page {
	padding-left: 100px;
	padding-right: 100px;
	padding-top: 25px;
	padding-bottom: 125px;
}